<div class="main_banner">
    <video class="video" autoplay loop src="/dd.mp4"></video>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a>About Me</a></li>
            <li><a>Portfolio</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
    <div class="video_sample_text">Hello World!</div>
</div>
<div class="banner_info">
    <h1>Cho SangYeon's Life</h1>
    <p>Nulla in dignissim nibh. Ine. Sed eleifend purus id massa hendreri</p>
</div>